@import '../variables.css';
@import './chat-history-item.css';

.profile-link {
    text-align: right;
}

.search-toolbar {
    padding: 10px;
}

.search-input:focus {
    outline: none;
}

.search-input {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background-color: $color-gray;
    border: none;
    padding: 6px 30px;
}

.chat-wrapper {
    display: flex;
    height: 100%;
}

.chat-aside {
    border: 1px solid grey;
    height: 100%;
}

.chat-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.chat-toolbar::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 95%;
    border-bottom: 1px solid $lighter-gray;
}

.chat-history {
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.chat-body {
    padding: 30px;
    /* padding-top: 48px; */
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-evenly;
}

.chat-body-date{
    width: fit-content;
    color: $light-gray;
    margin-left: auto;
    margin-right: auto;
}

.message {
    padding: 10px;
    max-width: 350px;
    background-color: $chat-background-gray;
}

.message-left {
    border-radius: 0 12px 12px 12px;
}

.message-right {
    background-color: $color-chat-blue;
    border-radius: 12px 12px 0px 12px;
    align-self: end
}

.message-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.message-input {
    background-color: $color-gray;
    width: calc(100% - 90px);
    padding: 10px 20px;
    border-radius: 30px;
    border:none;
}

.message-time{
    float: right;
    font-size: .8rem;
}